/* This For All Version Of Brosers */

* {
    box-sizing: border-box;
}




/* Memory Game */

body{
    font-family: Arial, Tahoma, sans-serif;
}

.Game-Buttons{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00ffffe6;
}

.Game-Buttons span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 15px 25px;
    text-align: center;
    border-radius: 6px;
    font-size: 30px;
}

.Game-Info{
    width: 90%;
    margin: 20px auto 0;
    background-color: white;
    overflow: hidden;
    border: 3px solid rgb(21, 117, 207);
    padding: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Game-Info .name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 5px;
}

.Game-Info .tries{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 5px;
}

.Game{
    width: 100%;
    margin-top: 5%;
}

.Game .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Game .container .cards{
    height: 200px;
    width: 200px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.Game .cards .front{
    line-height: 200px;
    background-color: #333;
}

.Game .cards .front::before{
    content: "?";
    color: aliceblue;
    font-size: 140px;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game .cards .back{
    background-color: #377ab5;
    transform: rotateY(180deg);
}

.Game .cards .back img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.Game .cards .face{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 3px solid rgb(9, 78, 224);
}

.Game .cards.flip,
.Game .cards.matched{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}

.Game.stop-clicking{
    pointer-events: none;
}

/* Memory Game */

/* extra Small devices */
@media (max-width: 499px){
    .Game-Info{
        font-size: 13px;
        padding: 10px;
    }
    .Game .container {
        gap: 10px;
    }
    .Game .container .cards{
        height: 80px;
        width: 76px;
    }
    .Game .cards .front::before {
        font-size: 50px;
    }
}

/* Small devices */
@media (min-width: 500px) and (max-width: 767px){
    .Game-Info{
        font-size: 20px;
    }
    .Game .container .cards{
        height: 120px;
        width: 114px;
    }
    .Game .cards .front::before {
        font-size: 100px;
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 992px){
    .Game .container .cards{
        height: 170px;
        width: 155px;
    }
    .Game .cards .front::before {
        font-size: 100px;
    }
}

/* Large devices */
@media (min-width: 993px) and (max-width: 1999px){ 
    
}

/* X-Large devices */
@media (min-width: 1200px) {
    
}